body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
}

ul.with-checkmark-bullets li::before {
 content: '';
 height:1em;
 width:1em;
 display:block;
 float:left;
 margin-left:-1.5em;
 margin-top: 0.3em;
 background-position:center;
 background-repeat:no-repeat;
 background-size:100%;
 background-image: url('images/bullet.svg');
}

ul.with-checkmark-bullets li::marker {
    content: ''
}

.btn {
    border-radius: 2.3rem;
}

section {
    padding: 70px 0px;
}

.testimonios img {
width: 75px;
height: 75px;
left: 50%;
top: 0;
transform: translate(-50%, -50%);

}

.testimonios .card {
    padding-top: 58px;
    background-color: #1c67d5;
    color: white;
    font-size: small;
}